@using DAL.ViewModels;
@model List<JobApplicationViewModel>

@{
    ViewData["Title"] = "Job Applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <div class="fs-2 fw-bold mt-3">Job Applications 
        @if( Model.Count() > 0){
        <span>for @Model[0].JobName </span>
                }
    </div>
</div>
<a asp-action="Index" asp-controller="Home" class="btn border mt-3 text-end btn-primary">Back</a>
<div class="table-responsive mt-3">
    <table class="table display">
        <thead>
            <th class="text-nowrap"> Id</th>
            <th class="text-nowrap">User Name</th>
            <th class="text-nowrap">Job Name</th>
            <th class="text-nowrap">Comany</th>
            <th class="text-nowrap">Location</th>
            <th class="text-nowrap">Status</th>
            <th class="text-nowrap">Actions</th>
        </thead>

        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="7" class="text-center text-nowrap">
                        <div>No Applications Found</div>
                    </td>
                </tr>
            }
            else
            {
                @foreach (var jobapp in Model)
                {

                    <tr>
                        <td class="text-nowrap">@jobapp.ApplicationId</td>
                        <td class="text-nowrap">@jobapp.UserName</td>
                        <td class="text-nowrap">@jobapp.JobName</td>
                        <td class="text-nowrap">@jobapp.CompanyName</td>
                        <td class="text-nowrap">@jobapp.Location</td>
                        <td class="text-nowrap">@jobapp.status</td>
                        <td class="text-nowrap">
                            <a asp-action="UpdateJobApplicationForJob" asp-controller="JobApplication"
                                asp-route-id="@jobapp.ApplicationId"><i class="fa-solid fa-pen text-black me-3 mt-2"></i></a>
                            <a asp-action="DeleteJobApplicationForJob" asp-controller="JobApplication"
                                asp-route-AppId="@jobapp.ApplicationId"><i class="fa-solid fa-trash-can text-black"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>